[submodule "thirdparty/GTAVMenuBase"]
	path = thirdparty/GTAVMenuBase
	url = https://github.com/E66666666/GTAVMenuBase
[submodule "GTAVManualTransmission"]
	path = GTAVManualTransmission
	url = https://github.com/Hydraxonn/GTAVManualTransmission
